body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #1f2937;
    color: #f9faf8;
}

nav h3 {
    font-size: 24px;
    color: #f9faf8;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.menu li {
    padding: 16px;
    font-size: 18px;
}

.one {   
    background-color: #1f2937;
    padding: 48px 96px;
}

.one .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.one-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.one-left p {
    font-size: 18px;
    color: #e5e7eb;
    width: 90%;
}

.one-left button, input[type="submit"], input[type="reset"] {
	background: none;
	background-color: #3882f6;
    color: #f9faf8;
    font-weight: bolder;
	border: none;
    border-radius: 10px;
	padding: 9px 24px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition: 0.3s;
}

.one-left :hover {
    background-color: #f9faf8;
    color: #3882f6;
    transition: 0.3s;
}

.two {
    margin: 96px 0;
}

.two h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.squares {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 24px 0;
}

.square-one, .square-two, .square-three, .square-four {
    width: 180px;
}

.squares img {
    border-radius: 10px;
}

.squares p {
    text-align: center;
    font-size: 18px;
}

.three {
    background-color: #e5e7eb;
    padding: 96px 0 128px 0;
}

.three .content {
    width: 50%;
    margin: 0 auto;
}

.three h1 {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    margin: 0;
}

.three h5 {
    padding-right: 24px;
    font-size: 18px;
    float: right;
}

.four {
    margin: 128px 256px;
}

.four .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 48px 128px;
}

.four-left h4 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0 0 12px 0;
}

.four-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.four-right button, input[type="submit"], input[type="reset"] {
	background: none;
	background-color: #3882f6;
    color: #f9faf8;
    font-weight: bolder;
	border: white 2px solid;
    border-radius: 10px;
	padding: 9px 32px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition: 0.3s;
}

.four-right :hover {
    background-color: #f9faf8;
    color: #3882f6;
    transition: 0.3s;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 16px 0;
}

footer p {
    color: #f9faf8;
    font-size: 18px;
}
