body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #1f2937;
    color: #f9faf8;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.menu li {
    padding: 1rem;
}